.header {
    display: flex;
    flex-direction: row;
    padding: 3%;
    padding-bottom: 0%;
}
.name {
    font-weight: bold;
    margin-right: 1%;
}
.handle {
    color: rgb(179, 179, 179);
    margin-right: 1%;
}
.timeStamp {
    color: rgb(179, 179, 179);
}